@use "../global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 18px 13px 0;
    font-family: $en;
    font-size: 16px;

    @media screen and (min-width: 768px) {
        position: absolute;
        align-items: flex-start;
        padding: 15px 25px 0;
        font-size: 1.8vw;
    }

    @media screen and (min-width: 1024px) {
        padding: 76px 64px 0;
      font-size: 1vw;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05em;
    }

    &__home {
        margin-right: auto;
    }

    &__link {
        @include link;

        @media screen and (min-width: 1024px) {
          @include linkhover;
        }
    }

    &__menu {
        z-index: 100;
        margin-right: 12px;
        transition: ease-in-out .3s;

        @media screen and (min-width: 768px) {
            margin-right: 5.2vw;
        }

        @media screen and (min-width: 1024px) {
          margin-right: 6.25vw;
        }
    }
}

.btn {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__top {
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        transform: translateY(3px);
        transition: ease-in-out .3s;
    }

    &__bottom {
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        transform: translateY(-3px);
        transition: ease-in-out .3s;
    }
}