@use "../global" as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 18px 13px 0;
    font-size: 16px;

    &__home {
        margin-right: auto;
    }

    &__link {
        @include link;
    }

    &__menu {
        margin-right: 12px;
    }

    &__reserve {
        display: none;
    }

}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    cursor: pointer;

    &__top {
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        transform: translateY(3px);
    }
    
    &__bottom {
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        transform: translateY(-3px);
    }
}