@use "../global" as *;

.nav {

    &__nav {
        display: flex;
    }

    &__link {
        @include link;
    }
}


.gnav {

    &__link {
        @include link;
    }
}

.slide {
    display: none;
}

.reservebtn {
    display: none;
}