@use "../global" as *;

#top {

    font-family: $en;

    .cursor {

        display: none;

        @media screen and (min-width: 1024px) {
            position: fixed;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            font-size: 14px;
            border-radius: 50%;
            background: $black;
            color: #fff;
            opacity: .7;
            visibility: hidden;
            transform: scale(0);
            pointer-events: none;
        }
    }

    .mv {
        position: relative;
        display: flex;
        width: 100%;
        height: 58vh;
        margin-bottom: 16vw;

        @media screen and (min-width: 768px) {
            height: 68.75vw;
            margin-bottom: 15.625vw;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 9.4vw;
        }


        &__left,
        &__right {
            width: 50%;
        }

        &__logo {
            position: absolute;
            bottom: 16px;
            left: 13px;
            width: 65.86vw;

            @media screen and (min-width: 768px) {
                bottom: 16.9vw;
                left: 23px;
                width: 37.1vw;
            }

            @media screen and (min-width: 1024px) {
                bottom: 16.4vw;
                right: 64px;
                width: 37.3vw;
            }
        }

        &__img {
            @include img;
        }
    }

    .about {

        position: relative;
        margin-bottom: 17.33vw;

        @media screen and (min-width: 768px) {
            margin-bottom: 23.4vw;
            padding-right: 25px;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 15.6vw;
            padding-right: 12.2vw;
        }

        &__pic {

            &:nth-of-type(1) {
                width: 81.86vw;
                height: 71.2vw;
                margin-bottom: 19.2vw;

                @media screen and (min-width: 768px) {
                    position: absolute;
                    top: 13vw;
                    left: 0;
                    width: 50.4vw;
                    height: auto;
                    margin-bottom: 0;
                }

                @media screen and (min-width: 1024px) {
                    top: 12vw;
                    width: 46.8vw;
                }
            }

            &:nth-of-type(2) {
                position: absolute;
                top: 42.6vw;
                right: 0;
                width: 34.6vw;
                height: 41.3vw;

                @media screen and (min-width: 768px) {
                    position: static;
                    width: 39.5vw;
                    height: auto;
                    margin: 0 0 4.3vw auto;
                }

                @media screen and (min-width: 1024px) {
                    width: 30.6vw;
                    margin: 0 0 2.1vw auto;
                }
            }
        }

        &__ttl {
            @include ttlNo($dp: block, $fz: 3.73vw, $fw: 600);
            position: absolute;
            top: 0;
            right: -43vw;
            z-index: 5;
            font-size: 8.26vw;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            transform-origin: left top;
            transform: rotate(90deg);

            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                @include ttlNo($dp: inline-block, $mr: 2vw, $fz: 2.2vw, $fw: 600, $lh: 1.65);
                top: 19vw;
                right: -2.4vw;
                display: flex;
                font-size: 5.85vw;
                line-height: 1.2;
            }

            @media screen and (min-width: 1024px) {
                @include ttlNo($dp: inline-block, $mr: 1.25vw, $fz: 2.1vw, $fw: 600, $lh: 1.65);
                top: 20vw;
                right: 1vw;
                font-size: 5.47vw;
                line-height: 1.2;
            }
        }

        &__img,
        &__a {
            @include img;
        }

        &__span {
            display: inline-block;
            width: 5vw;
            height: fit-content;

            @media screen and (min-width: 768px) {
                width: 3.25vw;
                margin: 1vw 0 0 1vw;
            }
        }

        &__eng {
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
                width: 34.7vw;
                margin: 0 0 4vw auto;
                font-size: 2.2vw;
                font-weight: 400;
                line-height: 1.1;
                color: $lightblue;
            }

            @media screen and (min-width: 1024px) {
                width: 36.2vw;
                margin: 0 -10vw 5.7vw auto;
                font-size: 2.5vw;
                font-weight: 400;
                line-height: 1.3;
            }
        }

        &__txt {
            @include txt;
            width: 77.3vw;
            margin-left: 13px;

            @media screen and (min-width: 768px) {
                @include txt($fz: 1.3vw, $lh: 2, $ls: .04em);
                width: 34.7vw;
                margin-left: auto;
            }

            @media screen and (min-width: 1024px) {
                @include txt($fz: .95vw, $lh: 2, $ls: .04em);
                width: 26vw;
            }
        }
    }

    .letter {

        display: flex;
        margin-bottom: 16vw;
        overflow: hidden;

        @media screen and (min-width: 768px) {
            margin-bottom: 10.4vw;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 8.4vw;
        }


        &__txt {
            font-size: 16.53vw;
            font-weight: 500;
            color: $blue;
            white-space: nowrap;
            animation: toLeft 15s infinite linear 0.5s both;

            @media screen and (min-width: 768px) {
                font-size: 19.8vw;
            }

            @media screen and (min-width: 1024px) {
                font-size: 20vw;
            }
        }

        &__span {
            display: inline-block;
            width: 8.8vw;

            @media screen and (min-width: 768px) {
                width: 10.4vw;
            }

            @media screen and (min-width: 1024px) {
                width: 10.7vw;
            }
        }

        &__a {
            @include img;
        }
    }

    .menu {

        margin-bottom: 21.3vw;
        padding: 0 13px;

        @media screen and (min-width: 768px) {
            margin-bottom: 10.5vw;
            padding: 0 25px;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 17.1vw;
            padding: 0 64px;
        }

        &__ttl {
            @include ttl;
            @include ttlNo($no: 2);
            margin-bottom: 16vw;

            @media screen and (min-width: 768px) {
                @include ttl($fz: 1.5vw, $fw: 600);
                @include ttlNo($no: 2, $fz: 1.5vw, $fw: 600, $mr: 10.4vw);
                margin-bottom: 7.3vw;
            }

            @media screen and (min-width: 1024px) {
                @include ttl($fz: 1vw, $fw: 600);
                @include ttlNo($no: 2, $fz: 1vw, $fw: 600, $mr: 6.9vw);
                margin-bottom: 6.25vw;
            }
        }

        &__txt {
            @include txt;
            margin-bottom: 10.9vw;

            @media screen and (min-width: 768px) {
                @include txt($fz: 1.7vw);
                margin-bottom: 4.4vw;
            }

            @media screen and (min-width: 1024px) {
                @include txt($fz: .8vw);
                margin-bottom: 4vw;
            }
        }

        &__ul {
            width: 82.6vw;
            font-size: 7.46vw;
            counter-reset: listnum;
            list-style-type: none;

            @media screen and (min-width: 768px) {
                width: 74.8vw;
                font-size: 3.9vw;
            }

            @media screen and (min-width: 1024px) {
                width: 74.7vw;
                font-size: 4vw;
            }
        }

        &__list {
            position: relative;

            @media screen and (min-width: 1024px) {
                
                &:hover {
                    .menu__bg {
                        transform: scale(1,1);
                    }
                    .menu__link {
                        color: $bg;
                    }
                }
            }
        }

        &__span {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 0%;
            height: 1px;
            background: $black;
        }

        &__bg {
            
            @media screen and (min-width: 1024px) {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: $black;
                transform-origin: center center;
                transform: scale(1,0);
                transition: ease .4s;
            }
        }
        
        &__link {
            @include link($dp: inline-block);
            display: flex;
            align-items: flex-start;
            padding: 3.2vw 0 12.4vw;
            
            @media screen and (min-width: 768px) {
                padding: .7vw 0 4vw;
            }
            
            @media screen and (min-width: 1024px) {
                padding: .52vw o 4vw;
                transition: ease .4s;
            }
            
            &::before {
                counter-increment: listnum;
                content: "0" counter(listnum);
                margin-right: 6.13vw;
                font-size: 3.46vw;
                line-height: 1.35;

                @media screen and (min-width: 768px) {
                    margin-right: 1.7vw;
                    font-size: 1.5vw;
                    font-weight: 500;
                }

                @media screen and (min-width: 1024px) {
                    margin-right: 2.13vw;
                    font-size: 1.5vw;
                    font-weight: 500;
                }
            }

            &::after {
                content: "";
                display: block;
                width: 1.9vw;
                height: 1.9vw;
                margin-left: auto;
                background: url(../images/arrow.svg) center center / cover no-repeat;

                @media screen and (min-width: 768px) {
                    width: .8vw;
                    height: .8vw;
                }
            }
        }
    }

    .gallery {

        display: flex;
        gap: 3.2vw;
        width: 100%;
        padding-bottom: 8vw;
        list-style-type: none;
        overflow-x: scroll;

        @media screen and (min-width: 768px) {
            gap: 2vw;
            padding-bottom: 4.2vw;
        }

        @media screen and (min-width: 1024px) {
            gap: 1vw;
            padding-bottom: 2.37vw;
            cursor: none;
            transition: all ease-in-out .2s;
        }

        &::-webkit-scrollbar {
            width: 100%;
            height: 2px;
        }

        &::-webkit-scrollbar-track {
            background: $lightblue;
        }

        &::-webkit-scrollbar-thumb {
            background: $black;
        }

        &__wrapper {
            margin-bottom: 8vw;
            padding: 0 13px;

            @media screen and (min-width: 768px) {
                margin-bottom: 4.2vw;
                padding: 0 25px;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: 3vw;
                padding: 0 64px;
            }
        }

        &__list {
            flex-shrink: 0;
            width: 83.2vw;

            @media screen and (min-width: 768px) {
                width: 54vw;
            }

            @media screen and (min-width: 1024px) {
                width: 56vw;
            }
        }

        &__img {
            @include img;
        }
    }

    .salon {

        margin-bottom: 34.6vw;
        padding: 0 13px;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 23.5vqw;
            padding: 0 25px;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 15.6vw;
            padding: 0 64px;
        }

        &__ttl {
            @include ttl;
            @include ttlNo($no: 3);
            margin-bottom: 10.6vw;

            @media screen and (min-width: 768px) {
                @include ttl($fz: 1.5vw, $fw: 600, $lh: 1);
                @include ttlNo($no: 2, $fz: 1.5vw, $fw: 600, $mr: 10.4vw);
                display: flex;
                align-items: flex-start;
                margin-bottom: 0;
            }

            @media screen and (min-width: 1024px) {
                @include ttl($fz: 1vw, $fw: 600, $lh: 1);
                @include ttlNo($no: 2, $fz: 1vw, $fw: 600, $mr: 6.9vw);
            }
        }

        &__dl {
            display: flex;
            gap: 9vw;

            @media screen and (min-width: 768px) {
                gap: 4vw;
            }
        }

        &__dt {
            margin-bottom: 1.86vw;
            font-size: 3.2vw;
            font-weight: 500;

            @media screen and (min-width: 768px) {
                margin-bottom: 1vw;
                font-size: 1.5vw;
                font-weight: 600;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: .46vw;
                font-size: .9vw;

            }
        }

        &__dd {
            font-size: 3.2vw;
            font-weight: 400;
            line-height: 1.58;

            @media screen and (min-width: 768px) {
                font-size: 1.3vw;
                font-weight: 500;
            }

            @media screen and (min-width: 1024px) {
                font-size: .8vw;
            }
        }

    }

    .location {
        width: 32vw;

        @media screen and (min-width: 768px) {
            width: 15vw;
        }

        @media screen and (min-width: 1024px) {
            width: 10vw;
        }
    }
}