@use "../setting" as *;

@mixin link($dp: block) {
    display: $dp;
    text-decoration: none;
    color: $black;
}

@mixin img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@mixin ttl($fz: 3.2vw, $fw: 500, $lh: 1.9) {
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: 0.05em;
}

@mixin ttlNo($no: 1, $dp: inline-block, $mr: 8vw, $fz: 3.2vw, $fw: 500, $lh: 1) {

    &::before {
        content: "00"+ $no;
        display: $dp;
        margin-right: $mr;
        font-family: $en;
        font-size: $fz;
        font-weight: $fw;
        line-height: $lh;
    }

}

@mixin txt($fz: 2.93vw, $lh: 2.18, $ls: 0.03em) {
    font-family: $jp;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin linkhover {
    &:hover {
        text-decoration: underline;
    }
}

@mixin pagettl($fz: 3.33vw) {
    font-family: $en;
    font-size: $fz;
    font-weight: 500;
    line-height: 1.9;letter-spacing: 0.05em;
}

@mixin pagecap($fz: 3.6vw) {
    font-size: $fz;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.04em;
}

@mixin catttl($fz: 10vw) {
    position: absolute;
    top: 0;
    left: -1vw;
    width: fit-content;
    font-family: $en;
    font-size: $fz;
    font-weight: 500;
    line-height: 1;
    color: $blue;
    writing-mode: vertical-rl;
}

@mixin dt($fz: 3.46vw) {
    margin-bottom: 1vw;
    font-size: $fz;
    font-weight: 600;
    letter-spacing: 0.05em;
}